@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700;800&display=swap");

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow-x: hidden;
  &:has(.map) {
    overflow: hidden;
  }
}

body {
  min-height: 100vh;
  font-family: "Poppins";
  &:has(.logo-animation) {
    overflow: hidden;
  }
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(93deg, #b55ddf 24.42%, #4a95cc 78.81%);
  border-radius: 6px;
  border: 2px solid #ffffff;
}

*::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

h2 {
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 1rem;
}

.p-autocomplete-loader {
  display: none !important;
}

.card {
  width: 100%;
  border-radius: 1.375rem;
  background-color: #fff;
  padding: 0.5rem;
}

.p-tabmenu-nav {
  justify-content: center !important;
}

body:has(.favourites-view) {
  background: linear-gradient(
    165deg,
    rgba(205, 93, 223, 0.55) 2.31%,
    rgba(74, 149, 204, 0.52) 81.15%
  );
}

.trip-picker__items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  .trip-item {
    width: 90%;

    border: 1px solid #b55ddf;
    border-radius: 0.625rem;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);

    display: flex;
    justify-content: space-between;

    padding: 0.8rem;

    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      background: linear-gradient(93deg, #b55ddf 24.42%, #4a95cc 78.81%);
      color: #fff;
    }
  }
}

.favourites-view__items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;

  &--centered {
    align-items: center;
    margin: 2rem;
    max-height: 82vh;
    overflow: scroll;
  }

  .fav-item {
    width: 100%;

    border: 1px solid #b55ddf;
    border-radius: 0.625rem;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__title {
      display: flex;
      justify-content: space-between;
      &:hover {
        cursor: pointer;
      }
    }

    padding: 0.8rem;

    transition: all 0.2s ease-in-out;

    &__stop {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      img {
        width: 20px;
      }
      &__action-buttons {
        display: flex;
        gap: 1rem;
        img {
          border-radius: 1.125rem;
          background: #fff;
          padding: 0.4rem;

          box-shadow: 0px 4px 5px 0px rgba(52, 52, 52, 0.25);

          transition: 0.3s;
          cursor: pointer;
          &:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }

    &--gradient {
      background: linear-gradient(93deg, #b55ddf 24.42%, #4a95cc 78.81%);
      color: #fff;
      border: 1px solid #fff;
    }
  }
}

.p-selectbutton {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  & div {
    border: none;
    box-shadow: 0px 4px 5px 0px rgba(52, 52, 52, 0.25);
    border-radius: 0.625rem;
  }
}

.slide-down-leave-active,
.slide-down-enter-active,
.slide-up-leave-active,
.slide-up-enter-active {
  transition: 1s;
}
.slide-down-enter-from {
  transform: translate(0, 100%);
}
.slide-down-enter-to {
  transform: translate(0, 0%);
}
.slide-down-leave-to {
  transform: translate(0, 100%);
}

.slide-up-enter-from {
  transform: translate(0, -100%);
}
.slide-up-enter-to {
  transform: translate(0, 0%);
}
.slide-up-leave-to {
  transform: translate(0, -100%);
}
